  /**************************BASE************/
  /*Recipe Result Card*/
  .card-style {
    background-color: #ffffff82;
    background-clip: border-box;
    border: 1px solid hsla(0, 0%, 100%, 0.51);
    border-radius: .25rem;
    height: 100%;
  }

  .card-title {
    margin-bottom: 0;
  }

  .card-body {
    padding: 0.25rem;
    line-height: 1;
  }

  .card-footer {
    padding: 0.25rem;
  }

  .page-footer {
    justify-content: center;
  }

  /**************************INDEX***********/
  .index-header{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .index-message {
    display: block;
  }

  .welcome-header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  /*Search field*/
  .search-field {
    height: fit-content;
    width: 40%;
  }

  .search-field-welcome {
    height: fit-content;
    width: 50%;
  }

  /**********************************Branding and Fonts**********/
  /*Images*/
  .brand-backdrop {
    background-image: url("../images/backgroundimage.jpg");
    background-size: cover;
  }
  
  .plates-image{
    width: 100%;
    margin-left: 5%;
    border-radius: .5rem;
  } 
  /*FONTS*/
  .brand-font {
    font-family: 'Mansalva', sans-serif;
  }

  .brand-text {
    margin: 0;
    font-family: 'Mansalva', sans-serif;
    color: #ffffff;
  }

  .recipe-text {
    color: #242f34;
  }

  .warning-text{
    font-size: 0.7em;
    color: #ff0000;
    font-style: italic;
  }

  .creator-name-font {
    font-size: 0.7em;
  }
/*******************************FORM*************/
  .grouping-div-form {
    display: flex;
  }

  .form-title {
    margin-bottom: 0;
    color: #242f34;
  }
  
  .textarea-form {
    width: 100%;
  }

  input::placeholder {
    color: #242f34be;
    font-size: 0.8em;
    font-style: italic;
  }

  textarea::placeholder {
    color: #242f34be;
    font-size: 0.8em;
    font-style: italic;
  }
/********************************************Buttons******/
  #recipy-btn {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-family: 'Mansalva', sans-serif;
    color: #ffffff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
  }

  #delete-btn {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-family: 'Mansalva', sans-serif;
    color: #ffffff;
    background-color: #f30606;
    border-color: #f30606;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
  }

  /**************************RECIPE***********/
  .recipe-page{
    white-space: pre-wrap;
  }

  /**************************ERROR************/
  .error-container{
    justify-content: center;
    display: flex;
    padding: 10%;
  }
  
   