body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-text{
    margin: 0;
    font-family: 'Mansalva', sans-serif;
    color: #ffffff;
  }

  .brand-backdrop{
    background-image: url("../images/backgroundimage.jpg");
    background-size: cover;
  }

  .index-message{
    display: block;
    margin-left: 50px;
  }


  .page-footer{
    justify-content:  center;
  }
