body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-text{
    margin: 0;
    font-family: 'Mansalva', sans-serif;
    color: #ffffff;
  }

  .recipe-font{
    color: #242f34;
  }

  .btn-font-size{
    font-size: 0.8em;
  }

  .brand-backdrop{
    background-image: url("../images/backgroundimage.jpg");
    background-size: cover;
  }

  .index-message{
    display: block;
  }

  .top-offset{
    margin-top: 25px;
  }

  .top-offset-sm{
    margin-top: 15px;
  }

  .search-field{
    width: 40%;
  }

  .card { 
    background-color: #ffffff82; 
    background-clip: border-box;
    border: 1px solid #ffffff82;
    border-radius: .25rem;
  }

  .page-footer{
    justify-content:  center;
  }
