<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}-ReciPy</title>

    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/helper_classes.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="d-flex flex-grow-1">
          <a class="navbar-brand brand-text" href="{{ url_for('index') }}">ReciPys...</a>
          <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarResponsive">
          <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item {% block nav_index %}{% endblock %}"><a class="nav-link brand-font"
                href="{{ url_for('index') }}">Home</a>
            </li>
            {% if 'username' in session %}
            <li class="nav-item">
              <a class="nav-link brand-font" href="{{ url_for('logout') }}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item {% block nav_login %}{% endblock %}"><a class="nav-link brand-font"
                href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item {% block nav_register %}{% endblock %}"><a class="nav-link brand-font"
                href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
            <li class="nav-item {% block nav_recipys %}{% endblock %}"><a class="nav-link brand-font"
                href="{{ url_for('recipys') }}">ReciPys</a>
            </li>
            {% if 'username' in session %}
            <li class="nav-item {% block nav_myrecipys %}{% endblock %}"><a class="nav-link brand-font"
                href="{{ url_for('my_recipys') }}">My ReciPys</a>
            </li>
            <li class="nav-item {% block nav_add_recipy %}{% endblock %}"><a class="nav-link brand-font"
                href="{{ url_for('add_recipy') }}">Add ReciPy</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="brand-backdrop">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer class="row page-footer bg-info">
      <div class="footer-copyright justify-content-center">
        <p class="brand-text btn-font-size">Copyright © 2019 ReciPys</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/scripts/main.js"></script>
    {% block scripts %}{% endblock %}
  </body>

</html>