<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RecipYs</title>
</head>
<body>
<p>{% for user in users %}
        {{user.username}} 
        {{user.firstName}} 
        {{user.lastName}} 
        {{user.email}} 
        {{user.dob}}
    {% endfor%}</p>

 <p>{% for recipe in recipys %}
        {{recipe.title}} 
        {{recipe.description}} 
        {{recipe.ingredients}} 
        {{recipe.instructions}} 
        {{recipe.tags}}
        {{recipe.imageLink}}
    {% endfor%}</p>

</body>
</html>