{% extends 'base.html' %}
{% block nav_index %}active{% endblock %}
{% block content %}
<div class="row index-message top-offset">
    <h1 class="brand-text">Welcome to Recipys</h1>
    <p class="brand-text">Different day, different meal!</p>
    <br />
    <div>
        <form class="input-group search-field" action="{{ url_for('search_recipes') }}">
            <input class="form-control" type="text" name="chosenWord" />
            <div class="input-group-append">
                <button class="btn btn-info brand-text" type="submit">Search ReciPys</button>
            </div>
        </form>
    </div>
</div>
<div class="row text-center">
    {% for recipe in recipys %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{ recipe.imageLink }}" alt="picture of {{ recipe.title }} served">
            <div class="card-body">
                <h4 class="card-title">{{ recipe.title }}</h4>
                <p class="card-text">{{ recipe.short_description }}</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-success brand-text btn-font-size">VIEW</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}