{% extends "base.html" %}
{% block content %}

<div class="row text-center bottom-offset-sm justify-content-center">
    <h2 class="brand-text top-offset-xs bottom-offset-xs">Login and get cooking...</h2>
</div>
<div class="row text-center justify-content-center">
    <form class="card-style col-offset-2 col-8" action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="recipe-text log-form">
            <p class="form-title log-form">{{ form.username.label }}</p>
            <p class="recipe-text log-form">{{ form.username }}</p>
            {%  for error in form.username.errors %}
            <p class="warning-text">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="recipe-text log-form">
            <p class="form-title log-form">{{ form.password.label }}</p>
            <p class="recipe-text log-form">{{ form.password }}</p>
            {%  for error in form.password.errors %}
            <p class="warning-text">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="col-12 justify-content-center">
            <p>{{ form.submit() }}</p>
        </div>
    </form>
</div>

{% endblock %}