{% extends "base.html" %}
{% block nav_register %}active{% endblock %}
{% block content %}
<div class="row text-center bottom-offset-sm align-items-end">
    <h2 class="brand-text top-offset-xs bottom-offset-xs">Register and get cooking...</h2>
    <p class="brand-text bottom-offset-xs">Enter details below</p>
    <form class="card-style col-12" action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p class="recipe-text reg-form">
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {%  for error in form.username.errors %}
            <span class="warning-text">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="recipe-text reg-form">
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {%  for error in form.password.errors %}
            <span class="warning-text">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="recipe-text reg-form">
            {{ form.password2.label }}<br>
            {{ form.password2 }}
        </p>
        <p class="recipe-text reg-form">
            {{ form.firstname.label }}<br>
            {{ form.firstname }}<br>
            {%  for error in form.email.errors %}
            <span class="warning-text">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="recipe-text reg-form">
            {{ form.lastname.label }}<br>
            {{ form.lastname }}<br>
            {%  for error in form.email.errors %}
            <span class="warning-text">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="recipe-text reg-form">
            {{ form.dob.label }}<br>
            {{ form.dob }}<br>
            {%  for error in form.email.errors %}
            <span class="warning-text">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="recipe-text reg-form">
            {{ form.email.label }}<br>
            {{ form.email }}<br>
            {%  for error in form.email.errors %}
            <span class="warning-text">{{ error }}</span>
            {% endfor %}
        </p>
        <div class="col-12 justify-content-center">
            <p>{{ form.submit() }}</p>
        </div>
    </form>
</div>
{%  endblock %}