{% extends "base.html" %}

{% block content %}
<h2 class="brand-text top-offset">Results for: <em>{{query}}</em>.</h2>
<div class="row text-center top-offset-sm">
  {% for recipe in results %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-2 ">
    <div class="card card-style h-80">
      <img class="card-img-top" src="{{recipe.imageLink}}" alt="picture of {{ recipe.title }} served">
      <div class="card-body">
        <h4 class="card-title recipe-text">{{recipe.title}}</h4>
        <p class="card-text recipe-text">{{recipe.description}}</p>
        <p class="card-text creator-name-font">Created by {{recipe.creator}}. Viewed {{recipe.views}} times.</p>
      </div>
      <div class="card-footer">
        {% if 'username' in session %}
        <a href="{{url_for('recipe', recipe_id=recipe._id)}}" class="btn btn-info brand-text btn-font-size">VIEW</a>
        {% else %}
        <a href="{{url_for('my_recipys')}}" class="btn btn-info brand-text btn-font-size">VIEW</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%  endblock %}